<!-- first a div so that the navbar will stay sticky on the page -->
<div class="navbar-sticky">
  <!-- second div so that this can be the position absolute for the child elements of the navbar -->
  <div class="main-navbar">
    <!-- Logo -->
    <div class="logo">
      <%= image_tag 'cafe_logo_white.png', :class => "cafe-logo"%>
      <p class="logo-text">maui, hawai'i</p>
    </div>
    <!-- Right Navigation -->
    <div class="navbar-right hidden-xs hidden-sm">

      <a href="" class="navbar-item navbar-link">home</a>
      <a href="" class="navbar-item navbar-link">menu</a>
      <a href="" class="navbar-item navbar-link">our story</a>
      <a href="" class="navbar-item navbar-link">live music</a>
      <a href="" class="navbar-item navbar-link">contact</a>

    </div>
  </div>
</div>
