<div class="contact-background" style="background:linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.67)), url('<%= image_path "salad.jpg" %>')">
  <div class="contact-wrapper">
    <div class="social-media-links-container">
      <div class="instagram-link">
        <a href="https://www.instagram.com/cafedesamispaiamaui/" target="_blank" class="social-media-links"><%= image_tag 'instagram_icon.png', width: 70 %></a>
      </div>
    </div>
  </div>
</div>

