<div class="background" style="background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.67)), url('<%= image_path "making-crepe-pic.jpg" %>')">
  <div class="background-content">
    <div class="background-text">
      <p>mediterranean and indian cuisine</p>
      <p>served with aloha</p>
      <p>in the heart of paia town</p>
    </div>
  </div>
</div>

<!-- linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%),  -->
