<div class="menu-background" style="background:url('<%= image_path "b&w_cook.jpg" %>')">
  <div id="menu-tabs">
    <ul class="list-inline tabs-underlined">
      <li class="tabs" >
        <%= link_to 'food', menu_path, class: "tab-underlined active", data: { content_name: "food" }%>
      </li>
      <li class="tabs">
        <%= link_to 'drinks', menu_path, class: "tab-underlined", data: { content_name: "drinks" }%>
      </li>
    </ul>
  </div>
</div>



<div class= "container-menu">
  <div id= "food" class= "row tab-content active">
    <div class="col-md-8 col-md-offset-2">
       <h2 class="dash-h2">food</h2>
        <p>MENUUUUU</p>
    </div>
  </div>

  <div id= "drinks" class= "row tab-content">
    <div class="col-md-8 col-md-offset-2">
       <h2 class="dash-h2">drinks</h2>
        <p>draaaank</p>
    </div>
  </div>
</div>
<!--   <div id="food-menu-scroll">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  </div> -->
