<div class="background" style="background:url('<%= image_path "coffee_cup.jpg" %>')">
  <div class="background-content-our-story">
    <div class="background-text" id="our-story-content">
      <p id="story-text">
        Café des Amis in paia was opened in 2000 by Emmanuelle & Bill Betham and Tina Prior.  In 1996, Emmanuelle and Bill, having already opened a first restaurant together in England, set off with their 3 children to travel the world. This is when they first discovered and fell in love with Maui.They decided to uproot their lives and move to Maui. Along with them came Tina, a close friend and colleague. Together they brought to Maui their french and mediterranean influences and their passion for great food, culture and travel! Today, Café des Amis Maui has two sister restaurants on the other side of the world in Canterbury, England. If you’re ever across the pond, be sure to check them out!
      </p>
      <div class="resto-links">
        <a href="https://cafedusoleil.co.uk/" class="btn-resto-links">Café du Soleil</a>
        <a href="https://cafedez.com/" class="btn-resto-links">Café des Amis</a>
      </div>
    </div>
  </div>
</div>
